<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moneylocker.account.bean.UserInfo">
	<sql id="userInfoColumns">
		id as userId,
		user_nick as nickName ,
		user_recommended_Code
		as recommendedCode,
		user_origin as userOrigin,
		user_gender as gender,
		user_birthday as birthday,
		user_phone as phone,
		view_hsp_info_flg as
		viewHspInfoFlg,
		user_baidu_id
		as baiduId,
		user_baidu_channel_id as
		baiduChannelId,
		state as state,
		user_update_phone_time as
		updatePhoneTime
	</sql>
	
	<select id="getUserInfoSingleProperty" resultType="Object">
		select
		<choose>
			<when test="propertyType == 1">user_birthday</when>
			<when test="propertyType == 2">user_gender</when>
			<when test="propertyType == 3">view_hsp_info_flg</when>
			<when test="propertyType == 4">user_nick</when>
			<when test="propertyType == 5">user_phone</when>
			<when test="propertyType == 6">user_password</when>
			<when test="propertyType == 9">user_regtime</when>
			<when test="propertyType == 10">user_update_phone_time</when>
		</choose>
		from hq_user_info where id = #{userId};
	</select>

	<select id="isExistSingleProperty" resultType="java.lang.Integer">
		select 1 from hq_user_info where
		<choose>
			<when test="propertyType == 4">user_nick = #{checkData} </when>
			<when test="propertyType == 5">user_phone = #{checkData} </when>
			<when test="propertyType == 11">user_imei = #{checkData} </when>
		</choose>
		limit 1;
	</select>

	<select id="findRegUserImei" resultType="com.moneylocker.account.bean.UserInfo">
		select
		<include refid="userInfoColumns" />
		from hq_user_info u where u.reg_user_imei = #{imei} and u.user_source
		= 0 limit 2;
	</select>

	<select id="findRegUserByDevice" resultType="com.moneylocker.account.bean.UserInfo">
		select
		<include refid="userInfoColumns" />
		from hq_user_info u
		where u.reg_user_imei = #{imei}
		and
		u.user_android_id=#{androidId}
		and u.user_mac_address=#{macAddress}
		and
		u.user_source = 0 limit 2;
	</select>



	<select id="isRecommendedCodeExist" resultType="java.lang.Integer">
		select count(id)
		from hq_user_info where
		user_recommended_Code = #{recommendedCode};
	</select>

	<select id="getPartInfoByUserId" resultType="java.util.Map">
		select
		<choose>
			<when test="type == 1">user_password as password, user_regtime as regTime
			</when>
			<when test="type == 2">user_phone as phone, user_origin as userOrigin,
				user_recommended_Code as recommendCode
			</when>
			<when test="type == 3">user_password as password, user_regtime as regTime,
				user_phone as phone, user_update_phone_time as updatePhoneTime
			</when>
		</choose>
		from hq_user_info where id = #{userId};
	</select>

	<select id="getPartInfoByRecommendCode" resultType="java.util.Map">
		select
		<choose>
			<when test="type == 2">id as userId, user_recommended_Code as
				recommendedCode
			</when>
		</choose>
		from hq_user_info where user_recommended_Code = #{code} or user_phone
		= #{code};
	</select>

	<update id="updateUserInfoSinglePropertyWithOldCheck">
		update hq_user_info
		<set>
			<choose>
				<when test="propertyType == 1">user_birthday = #{newData}</when>
				<when test="propertyType == 2">user_gender = #{newData}</when>
				<when test="propertyType == 3">view_hsp_info_flg = #{newData}</when>
				<when test="propertyType == 4">user_nick = #{newData}</when>
				<when test="propertyType == 5">user_phone = #{newData}</when>
				<when test="propertyType == 12">user_origin = #{newData}</when>
			</choose>
		</set>
		where id = #{userId}
		<choose>
			<when test="propertyType == 1">
				<choose>
					<when test="oldData == null">
						and user_birthday is null;
					</when>
					<otherwise>
						and user_birthday = #{oldData};
					</otherwise>
				</choose>
			</when>
			<when test="propertyType == 2">
				<choose>
					<when test="oldData == null">
						and user_gender is null;
					</when>
					<otherwise>
						and user_gender = #{oldData};
					</otherwise>
				</choose>
			</when>
			<when test="propertyType == 3">
				<choose>
					<when test="oldData == null">
						and view_hsp_info_flg is null;
					</when>
					<otherwise>
						and view_hsp_info_flg = #{oldData};
					</otherwise>
				</choose>
			</when>
			<when test="propertyType == 4">
				<choose>
					<when test="oldData == null">
						and user_nick is null;
					</when>
					<otherwise>
						and user_nick = #{oldData};
					</otherwise>
				</choose>
			</when>
			<when test="propertyType == 5">
				<choose>
					<when test="oldData == null">
						and user_phone is null;
					</when>
					<otherwise>
						and user_phone = #{oldData};
					</otherwise>
				</choose>
			</when>
			<when test="propertyType == 12">
				<choose>
					<when test="oldData == null">
						and (user_origin is null or user_origin="");
					</when>
					<otherwise>
						and user_origin = #{oldData};
					</otherwise>
				</choose>
			</when>
		</choose>
	</update>

	<update id="updateUserInfoSingleProperty">
		update hq_user_info
		<set>
			<choose>
				<when test="propertyType == 1">user_birthday = #{newData}</when>
				<when test="propertyType == 2">user_gender = #{newData}</when>
				<when test="propertyType == 3">view_hsp_info_flg = #{newData}</when>
				<when test="propertyType == 4">user_nick = #{newData}</when>
				<when test="propertyType == 5">user_phone = #{newData}</when>
				<when test="propertyType == 6">user_password = #{newData}</when>
				<when test="propertyType == 10">user_update_phone_time = #{newData}</when>
			</choose>
		</set>
		where id = #{userId};
	</update>

	<update id="rebindPhone">
		update hq_user_info set user_phone = #{phone},
		user_update_phone_time = #{updatePhoneTime},
		voice_check_flg =
		#{verType}
		where id = #{userId} and user_phone = #{oldPhone};
	</update>

	<update id="bindPhone">
		update hq_user_info set user_phone = #{phone},
		user_password = #{password},
		user_update_phone_time =
		#{updatePhoneTime}, voice_check_flg = #{verType}
		where id =
		#{userId}
		and user_phone is null;
	</update>

	<update id="updateBaiduInfo">
		update hq_user_info set user_baidu_id = #{baiduId},
		user_baidu_channel_id =
		#{baiduChannelId},
		user_baidu_group =
		#{baiduGroup} where id = #{userId};
	</update>

	<select id="findByUserPhone" resultType="com.moneylocker.account.bean.UserInfo">
		select
		<include refid="userInfoColumns" />
		,
		is_white as isWhite, user_regtime as userRegtime ,
		user_password as
		userPassword, user_cheat_state as userCheatState,
		user_update_phone_time as updatePhoneTime
		from hq_user_info
		where
		user_phone = #{phone};
	</select>

	<insert id="saveUserInfoWithoutPhone">
		insert into hq_user_info (id, user_recommended_Code,
		reg_user_imei, user_imei, user_regtime)
		values (#{userId},
		#{userRecommendedCode}, #{imei}, #{imei},
		#{userRegtime});
	</insert>

	<insert id="saveUserInfoWidthDevice">
		insert into hq_user_info (id, user_recommended_Code,
		reg_user_imei, user_android_id, user_mac_address, user_imei,
		user_regtime)
		values (#{userId}, #{userRecommendedCode}, #{imei},
		#{androidId}, #{macAddress}, #{imei},
		#{userRegtime});
	</insert>


	<insert id="saveUserInfoWithPhone">
		insert into hq_user_info (id, user_recommended_Code,
		reg_user_imei, user_imei, user_regtime, user_password,
		user_phone,
		voice_check_flg, user_model, user_manufacturer, user_version,
		app_version, user_android_id, user_mac_address,
		user_update_phone_time)
		values(#{userId}, #{userRecommendedCode},
		#{imei}, #{imei},
		#{userRegtime}, #{password}, #{phone}, #{verType},
		#{model}, #{manufacturer},
		#{osVersion}, #{appVersion}, #{androidId},
		#{macAddress},
		#{phoneUpdateTime});
	</insert>

	<select id="getPartInfoByPhone" resultType="java.util.Map">
		select
		<choose>
			<when test="type == 1">id as userId, user_regtime as userRegtime</when>
		</choose>
		from hq_user_info where user_phone = #{phone};
	</select>

	<select id="findByUserId" resultType="com.moneylocker.account.bean.UserInfo">
		select
		<include refid="userInfoColumns" />
		,
		is_white as isWhite, user_regtime as userRegtime ,
		user_password as
		userPassword, user_cheat_state as userCheatState
		from hq_user_info
		where id = #{userId};
	</select>

</mapper>  
