<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moneylocker.account.bean.ImeiPhoneLog">

	
	<select id="getImeiPhoneLog" >
		select * from ml_imei_phone_log u where u.imei=#{imei} ;
	</select>
	
	<insert id="saveImeiPhoneLog">
		insert  ignore into ml_imei_phone_log (imei , phone , count  , day) values(#{imei}, #{phone} , #{count},#{day}) ON DUPLICATE KEY select 1;
	</insert>
	
	<update id="updateNewDayImeiPhoneLog">
		update ml_imei_phone_log set count=0 , day=#{day},phone=#{phone} where imei = #{imei} ;
	</update>
	
	<update id="updateImeiPhoneLogCount">
		update ml_imei_phone_log set count=count+1 ,phone=#{phone} where imei = #{imei} ;
	</update>
</mapper>  
